@import url('https://fonts.googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.item_1 img {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
}

.item_2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    max-width: 1800px;
    opacity: 0.1;
    width: 100%;
    z-index: -1;
}

.item_3 {
    position: absolute;
    top: 60%;
    right: 10%;
    z-index: -1;
    font-size: 100px;
    font-weight: 600;
    line-height: 100px;
    opacity: 0.1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    height: 120px;
}

.left_nav {
    display: flex;
    gap: 50px;
}

.nav_logo img {
    width: 80px;
}

.nav_menu ul {
    display: flex;
    list-style: none;
}

.nav_menu li {
    margin: 0 20px;
    position: relative;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.link_border {
    height: 1px;
    width: 0;
    background: black;
    transition: 0.3s;
}

.link:hover~.link_border {
    width: 100%;
}


main {
    display: flex;
    padding-left: 70px;
}

.left_col {
    width: 50%;
}

.shoe_title {
    font-size: 4.2vw;
    font-weight: 600;
    letter-spacing: 5px;
}

.line {
    height: 1px;
    width: 200px;
    background: black;
    margin: 20px 0;
}

.shoe_description {
    font-weight: 300;
    margin-bottom: 20px;
}


.cart {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.cart_btn {
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.cart_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.price {
    font-size: 20px;
    font-weight: 600;
}


.shop_item_container {
    min-width:220px ;
    position: relative;
    background-color: #d9d9d9;
    width: 220px;
    height: 240px;
    border-radius: 40px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 60px;
}

.shoe_img_box {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.shoe_img {
    width: 160px;
    transform: rotate(-30deg);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.shop_item_container:hover .shoe_img {
    transform: rotate(-10deg) scale(1.15) translateY(-10px);
}

.shoe_details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.shoe_name_price h3 {

    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 5px;
}

.shoe_name_price  {
    width: 100px;
display: flex;
justify-content: space-between;

}
  

.add_to_shop {
    display: flex;

}

.menu_bars_btn{
    display: flex;
    flex-direction:column ;
}
.menu_bars_btn img{
    width: 30px;
}
.nav_dropdown_menu {
    display: none; 
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 200px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 1000;
}


.nav_dropdown_menu.open_menu {
    display: block; 
}


.nav_dropdown_menu ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.shoe_name_price img{
    width: 37px;
     margin-bottom:5px;
     margin-top: 2px;
     

}
.shoe_name_price{
    justify-content: space-around;
    justify-items: center;
    display: flex;
    flex-direction: "row";
    gap:4px;
    width: 190px;
  

}
.shoe_name_price p{
    font-weight: 50px;
    font-size: 12px;
    margin-top: 4px;
}
.shop_box{
    display: flex;
   
}
.grid-container{
    display: grid;
    width: 1000px;
    grid-template-columns: 200px 200px 200px;
}
.item{
 padding: 2em;

 text-align: center;
 font-size: 2rem;  
 display: grid; 
}